
<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
     <!-- load fontawesome -->
     <link rel="stylesheet" href="css/ting.css">
    <style>
        body        { padding-top:25%;}
    </style>
</head>
<body class='pic back'>
<div class="container">

    <div class="text-center">
        <h3><span class="fa fa-lock"></span> Login or Register with:</h3>
        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Login</a><br><br>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span>Signup</a>
    </div>

</div>
</body>
</html>
