
body{
 background-color:
 background-color:#ff5100;
 filter:progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr=#ff5100, endColorstr=#a6ccde);
 background-image:-moz-linear-gradient(left bottom, #ff5100 16%, #a6ccde 46%,#000000 100%);
background-image:linear-gradient(left bottom, #ff5100 16%, #a6ccde 46%,#000000 100%);
background-image:-webkit-linear-gradient(left bottom, #ff5100 16%, #a6ccde 46%,#000000 100%);
background-image:-o-linear-gradient(left bottom, #ff5100 16%, #a6ccde 46%,#000000 100%);
background-image:-ms-linear-gradient(left bottom, #ff5100 16%, #a6ccde 46%,#000000 100%);
 background-image:-webkit-gradient(linear, left bottom, right top, color-stop(16%,#ff5100), color-stop(46%,#a6ccde),color-stop(100%,#000000));
border-style: inset;
border: 5px solid black;
font-family: monospace;
padding-top:55px;
 }
button{
  background-color: silver;
  color:black;
  }
span{
  font-size: 45px;
}
