
.loginpic{
  background-image: url('../image/rsz_1dt.jpg');
  background-size: cover;

}
.pic{
  background-image: url('../image/rsz_1dt.jpg');
  background-size: cover;
}
.back{
  background-color:transparent;
}
