
.loginpic{
  background-image: url('../image/motor.jpg');
  background-size: cover;
  
}
.pic{
  background-image: url('../image/motor.jpg');
  background-size: cover;
}
.back{
  background-color:transparent;
}
.google{
  margin-right: 70px;
}
.zi{
  color:white;
}
.da{
  font-size: 30;
}
.btn{
  background: transparent;

}
