<!DOCTYPE html>
<html lang="en"  ng-app"weather">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <!-- <link rel="stylesheet" type="text/css" href="css/main.css"> -->
  <script src="https://code.jquery.com/jquery-1.12.0.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
  <title>motorcycling weather</title>
</head>
<body>

  <input id="origin" type="text" ng-model="origin">
  <label for="origin"> Origin</label><br/>
  <input id="destination" type="text" ng-model="destination">
  <label for="destination"> Destination</label><br/>
  <input id="avoidHighways" type="checkbox" ng-model='avoidHighways'>
  <label for="avoidHighways">Avoid Highways</label><br/>
  <input id="avoidTolls" type="checkbox" ng-model='avoidTolls'>
  <label for="avoidTolls">Avoid Tolls</label><br/>
  <input id="avoidFerries" type="checkbox" ng-model='avoidFerries'>
  <label for="avoidFerries">Avoid Ferries</label><br/>

  <!-- <iframe src="http://www.google.com/maps/embed/v1/directions?origin="+{{origin}}+"&destination="+{{destination}}></iframe> -->


  <!-- <header>GO OUTSIDE??? OR, STAY IN AND,STREAM???</header> -->
  <button class="js-geolocation" style="display: none;">Use Your Location</button>

    <!-- <div id="image-table">
    <table>
      <tr>
        <td style="padding:5px">
          <img src="images/mountain.jpg">
        </td>
        <td style="padding:5px">
          <img src="images/spongebob.jpg">
        </td>
      </tr>
    </table>
  </div> -->
  <!-- <div class='container'> -->
    <!-- <div class='row'> -->
      <!-- <div class='form-group'> -->
         <!-- <label><h3>Where are you?</h3></label> -->
        <!-- <span class="input input--haruki"> -->
	<!-- <input class="input__field input__field--haruki" type="text" id="city-zip" /> -->
	<!-- <label class="input__label input__label--haruki" for="input-1"> -->
		<!-- <span class="input__label-content input__label-content--haruki"><h5>City?<h5></span> -->
	<!-- </label> -->
<!-- </span>
      </div>
      <button class="btn btn-default" id='get-weather'>Veg Out?/Go play?</button>
    </div>
    <div id="map"></div>
    <div id="output"></div>
  </div>
</div>
</div>
</div> -->


<script>
function initMap() {
  var mapDiv = document.getElementById('map');
  var map = new google.maps.Map(mapDiv, {
    center: {lat: 29, lng: -82},
    zoom: 8
  });
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?callback=initMap" async defer></script>
<script id='weather-results' type='text/x-handlebars-template'>
  <div class="container">
    <div class="row City">
      <div class="col-md-2"><h4>City:</h4><h4>{{ city }}</h4></div>
    </div>
    <div class="row Summary">
      <div class="col-md-2"><h4>Summary:</h4><h4>{{ summary }}</h4></div>
    </div>
    <div class="row Time">
      <div class="col-md-2"><h4>Time:</h4><h4>{{ time }}</h4></div>
    </div>
    <div class="row precipitationProbability">
      <div class="col-md-2"><h4>Chance of rain:</h4><h4>{{ precipitationProbability }}</h4></div>
    </div>
    <div class="row precipitationIntensity">
      <div class="col-md-1"><h4>Precipitation Intensity:</h4><h4>{{ precipitationIntensity }}</h4></div>
    </div>
    <div class="row temprature">
      <div class="col-md-2"><h4>Temp:</h4><h4>{{ temprature }}</h4></div>
    </div>
    <div class="row">
    <div class="col-md-2"><h4>Humidity:</h4><h4>{{ humidity }}</h4></div>
  </div>
    <hr>
    <div id="image-table">
      <table>
        <tr>
          <td style="padding:5px">
            <img src="images/family-guy-tv.jpg">
            </td>
        </tr>
      </table>
    </div>
  </div>
</div>
</div>
</script>
<script>
var cityLocation = null;
$(document).ready(function(){
  var baseUrlGoogle = 'https://maps.googleapis.com/maps/api/geocode/json?address=';
  var baseUrlForecast = 'https://api.forecast.io/forecast/c6f17ac8dc25cab84eef57bd79a38592/'

  var name = "Your Name";
//  $('#get-weather').on('click', getWeather);
  $('#get-weather').on('click', getCoordinates);

  function buildUrlGoogle(city){
    return baseUrlGoogle + city;
  }
  function buildUrlForecast(lat, lon){
    return baseUrlForecast +lat+','+lon;
  }

//   function getWeather(){
//     var weatherLayer = new google.maps.weather.WeatherLayer({
//   temperatureUnits: google.maps.weather.TemperatureUnit.FAHRENHEIT
// });
//     var lat = $('#city').val();
//     var lon = $('#state').val();
//     var options = {
//       url: buildUrl(city, state),
//       dataType: 'jsonp',
//       success: successHandler,
//       error: errorHandler
//     };
  //   $.ajax(options);
  // }


  function successHandler(data){
    $('#output').text(JSON.stringify(data));
    console.log(data);
  }

  function errorHandler(err){
    console.log(err);
  }

      function getCoordinates(){
        var city = $('#city-zip').val();
        cityLocation = city;
        console.log("city: ",cityLocation);
        var ajaxOptions = {
              url: buildUrlGoogle(city),
            //dataType: 'jsonp',
              success: getWeatherInfo,
              error: errorHandler
            };
                  $.ajax(ajaxOptions);
    }

    function getWeatherInfo(data){
      var lat = data.results[0].geometry.location.lat;
      var lon = data.results[0].geometry.location.lng;
      console.log("lat: ",lat);
      console.log("lon: ",lon);
      var options = {
        url: buildUrlForecast(lat,lon),
        dataType: 'jsonp',
        success: successHandlerShowWeather,
        error: errorHandler,
      }
      $.ajax(options);
    }
      function successHandlerShowWeather(data){
        // this will put the results in the html

        var source = $('#weather-results').html();
        var template = Handlebars.compile(source);
        var extractedData = {
          city: cityLocation,
          icon: data.currently.icon,
          summary: data.currently.summary,
          time:moment(data.currently.time*1000).format('MMMM Do YYYY, h:mm:ss a'),
          precipitationIntensity: data.currently.precipIntensity,
          precipitationProbability: data.currently.precipProbability,
          temprature: data.currently.temperature,
          humidity: data.currently.humidity,
          visibility: data.currently.visibility,
          cloudCover: data.currently.cloudCover,


        };
        console.log(extractedData)
        var html = template(extractedData);
        $('#output').html(html);


      }
});

</script>




<div class='row'>
<h3>Position: ({{City}})</h3>
</div>
<div class="row">
<div class="col-md 6">
<!-- <img src= "images/{{ icon }}.jpg" alt={{icon}} class="img-responsive"> -->
</div>
</div>
<div class="row">
<div class="col-md-3 col-md-offset-4">
<h5>{{time}}</h5>
</div>
</div>
<div class="row">
<div class="col-md-8 col-md-offset-2">

<p><em>{{summary}}</em></p>

</div>
</div>
</script> -->


<script src=""></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.js"></script>
<script src="js/config.js"></script>
<script src="js/app.js"></script>


</body>
</html>
